body {
    margin: 0px;
    padding: 0px;
    background-color: #eef;
  }
  
  header {
    width: 100%;
    float: left;
  }
  
  main {
    width: 100%;
    float: left;
  }
  
  footer {
    width: 98%;
    float: left;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    float: left;
    margin-left: 35px;
  }
  
  nav li {
    float: left;
    cursor: pointer;
  }
  
  nav {
    float: left;
    width: 73%;
    background: #000000;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    color: #FFFFFF;
  }
  
  nav li a{
    color: #FFFFFF;
    text-decoration: none;
  }


  .ind-slide {
    float: left;
    width: 100%;
    z-index: 1;
  }

  .ind-slide img{
    width: 98%;
  }

  .ind-slide picture {
    width: 105%;
  }

  .ind-anuncio { float: left; font-family: Verdana, sans-serif; font-size: 16px;}

  .ind-anuncio-title {float: left; width: 100%; padding: 10px 0; text-align: center; color: #FFFFFF; background: #000000; font-weight: bold; }
  .ind-anuncio-img {width: 100%; height: 150px;}
  .ind-anuncio-image {width: 100%; max-height: 200px;} 
  .ind-anuncio-texto{float: left; width: 100%; padding: 10px 0; text-align: center; line-height: 25px;}
  

  /*Desktop*/
  @media only screen and (min-width: 769px) {
    nav {padding-left: 30%; padding-top: 10px;}
    nav li {width: 19%; text-align: center; padding-top: 20px; height: 35px;}
    nav li:last-child a{color: #A9CF46;}
    nav li:hover a {color: #A9CF46;}
    nav li:hover{border-top: 7px solid #A9CF46;
          -webkit-transition: all 0.7s ease;
          -moz-transition: all 0.7s ease;
          -o-transition: all 0.7s ease;
          transition: all 0.7s ease;
    }
    /* Sessao Header-Cabeçario*/
    .ind-logo img {width: 20%; position: absolute; float: left; margin-left: -95%; z-index: 2;}
    .ind-botao {display: none;}
    .ind-slide {height: 480px;}
    .ind-slide {max-height: 480px;}
    /*<------------------->*/
    /* Sessao Main-Corpo*/
    .ind-anuncio {width: 20%; height: 250px; margin: 35px 2.5% 45px 2.5%;}
      .ind-anuncio-image img {width: 100%;}
    /*<------------------->*/
    /* Sessao Footer-Rodapé*/
    .Footer {height: 150px; float: left; width: 100%; background: #A9CF46; padding: 20px; border-top: 20px solid #678346; font-family: Verdana, sans-serif; font-size: 17px; }  
      .FooterTexto {float: left; margin-left: 3%; width: 65%;}
        .FooterImage {float: left; margin-left: 3%; width: 30%; text-align: right;}
    /*<------------------->*/
  
    /* Sessao Header-Cabeçario.SobreNos*/
    .ind-banner {float: left; width: 100%;}
      .ind-banner img{width: 100%;}
    /*<----------------------------->*/

    /* Sessao Main-Corpo.SobreNos*/
    .TextoResponsivo {float: left; width: 90%; margin: 20px 5% 40px; text-align: justify; line-height: 35px; font-size: 18px; font-family: Verdana, sans-serif;}
      .TextoResponsivo img {max-width: 100%;}
    /*<----------------------->*/  

    /* Sessao Main-Corpo.Cadastrese*/
    .Formulario {float: left; width: 100%; margin: 20px 0;}
      .Formulario input[type=text], .Formulario input[type=email], .Formulario input[type=tel] {width: 70%; height: 40px; font-size: 18px; color: #444;}
        .Formulario input[type=submit] {width: 30%; height: 50px; cursor: pointer; background: #A9CF46;  font-size: 22px;} 
          .Formulario textarea {width: 70%; height: 150px; font-size: 18px; font-family: Verdana, sans-serif; color: #444;}
  }
  

    
  /*Tablet*/
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    nav {padding-top: 15%; width: 100%;}
    nav li {margin-left: 3px; position: relative; float: left; top: 13px; width: 87%; display: none; background: #A9CF46; padding-top: 15px; padding-left: 12%; padding-bottom: 30px; border-bottom: 1px #FFFFFF solid; color: #333333; cursor: pointer;}
    /* Sessao Header-Cabeçario*/
    .ind-botao {position: absolute;  top: 15px; right: 60px; cursor: pointer;  text-align: right;}
      .ind-logo {position: absolute; width: 1%; left: 40; top: 0; float: right;}
        .ind-logo img {margin-left: 28px; max-height: 95px;}
    .ind-slide  {height: 350px;}
        .ind-slide img {width: 95%;}
    /*<------------------->*/
    /* Sessao Main-Corpo*/
    .ind-anuncio {width: 40%; height: 200px; margin: 100px 6.10% 100px 3.9%;}
      .ind-anuncio-image img {width: 100%;}
        .ind-anuncio-texto {margin-top: 50px;}
    /*<------------------->*/
    /* Sessao Footer-Rodapé*/
    .Footer {height: 150px; margin-top: 15%; float: left; width: 95%; background: #A9CF46; padding: 20px; border-top: 20px solid #678346; font-family: Verdana, sans-serif; font-size: 17px; line-height: 30px;}  
      .FooterTexto {float: left; width: 100%; text-align: center; margin-bottom: 20px;}
        .FooterImage {float: left; width: 100%; text-align: center;}
    /*<------------------->*/
   
    /* Sessao Header-Cabeçario.SobreNos*/
    .ind-banner {float: left; width: 100%;}
      .ind-banner img{width: 100%;}
    /*<----------------------------->*/  

     /* Sessao Main-Corpo.SobreNos*/
     .TextoResponsivo {float: left; width: 90%; margin: 20px 5% 40px; text-align: justify; line-height: 35px; font-size: 18px; font-family: Verdana, sans-serif;}
     .TextoResponsivo img {max-width: 100%;}
    /*<----------------------->*/  

    /* Sessao Main-Corpo.Cadastrese*/
   .Formulario {float: left; width: 100%; margin: 20px 0;}
   .Formulario input[type=text], .Formulario input[type=email], .Formulario input[type=tel] {width: 70%; height: 40px;}
     .Formulario input[type=submit] {width: 35%; height: 50px; cursor: pointer; background: #A9CF46;  font-size: 22px;} 
      .Formulario textarea {width: 70%; height: 150px; font-size: 18px; font-family: Verdana, sans-serif; color: #444;}
     /*<----------------------->*/
  }
  


  /*Smartphone*/
  @media only screen and (max-width: 475px) {
    nav {padding-top: 16%; width: 100%;}
    nav li {margin-left: 5px; position: relative; float: left; top: 1px; width: 89%; display: none; background: #A9CF46;  padding-top: 10px; padding-left: 9%; padding-bottom: 10px; border-bottom: 1px #FFFFFF solid; color: #333333; cursor: pointer;}
    /* Sessao Header-Cabeçario*/
    .ind-botao {position: absolute; width: 65%; top: 1px; right: 0; cursor: pointer; padding-right: 10%; text-align: right;}
      .ind-logo {position: absolute; width: 65%;  top: 0; text-align: center;}
      .ind-logo img {max-height: 49px; margin-left: -100px;}
    .ind-slide {height: 200px;} 
    .ind-slide img {max-width: 400px;}
    /*<------------------->*/
    /* Sessao Main-Corpo*/
    .ind-anuncio {width:95%; height: 300px; margin: 50px 2.5% 50px 2.5%;} 
      .ind-anuncio-image img {width: 100%; height: 200px;}
        .ind-anuncio-texto {margin-top: 50px;}

    /*<------------------->*/
    /* Sessao Footer-Rodapé*/
    .Footer {float: left; width: 100%; background: #A9CF46; border-top: 20px solid #678346; font-family: Verdana, sans-serif; font-size: 17px; line-height: 35px;}  
      .FooterTexto {float: left; width: 90%; margin: 20px 5%; text-align: center;}
        .FooterImage {float: left; width: 100%; text-align: center;}
    /*<------------------->*/

    /* Sessao Header-Cabeçario.SobreNos*/
    .ind-banner {float: left; width: 100%;}
      .ind-banner img{width: 100%;}
    /*<----------------------------->*/  

     /* Sessao Main-Corpo.SobreNos*/
     .TextoResponsivo {float: left; width: 90%; margin: 20px 5% 40px; text-align: justify; line-height: 35px; font-size: 18px; font-family: Verdana, sans-serif;}
     .TextoResponsivo img {max-width: 100%;}
   /*<----------------------->*/  

    /* Sessao Main-Corpo.Cadastrese*/
    .Formulario {float: left; width: 100%; margin: 20px 0;}
    .Formulario input[type=text], .Formulario input[type=email], .Formulario input[type=tel] {width: 100%; height: 40px;}
      .Formulario input[type=submit] {width: 50%; height: 50px; cursor: pointer; background: #A9CF46;  font-size: 22px;} 
      .Formulario textarea {width: 100%; height: 150px; font-size: 18px; font-family: Verdana, sans-serif; color: #444;}
      /*<----------------------->*/
   
  }
  